body {
  background-color: rgb(245, 245, 245);
  font-family: 'Space Mono', monospace;
  color: rgb(0, 0, 0);
  font-size: 14px;
  line-height: normal;
}

.full-length-header {
  text-align: center;
}

div {
  width: auto;
  border: solid;
  padding: 15px;
  margin: 15px;
  transition: 0.3s;
}

div:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.3);
}

.the-div:hover {
  background-color: #104547;
  transition: 0.7s;
}
.the-div {
  background-color: rgb(203, 203, 203);
}
.header {
  padding: 0;
  opacity: 1;
  background-color: white;
}

.header:hover {
  transition-duration: 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background-color: #CA2E55;
}
.images:hover img{
  transition: 1s;
  opacity: 0;
}
.parent-div {
  background-color: rgb(160, 160, 160);
  padding:0%;
}


.child-div {
  width: 45%;
  background-color: rgb(100, 100, 100);
}

.flex {
  display: flex;
  background-color: rgb(126, 126, 126);
}

.parent-div:hover {
  background-color: #56445D;
}

.child-div:hover {
  width: 45%;
  background-color: #548687 ;
  box-shadow: 15px 15px rgb(0, 0, 0);
}

.flex:hover {
  display: flex;
  background-color: #E2856E;
}

/* Header Start*/
.images {
  display: flex;
  justify-content: center;
  position: relative;
  height: 225px;
  width: auto;
  padding: 0%;
  overflow:hidden;
  background-color: rgb(255, 255, 255);
}
images:hover {
  box-shadow: inset -18px 20px 0px rgb(32, 112, 198);
  background: #448EE4 ear-gradient(#448EE4,#87CEEB e);
}

.rose {
  background-image: url('../images/rose.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border: none;
  height: 10%;
  width: auto;
  position: absolute;
  top: 100%;
}

.images:hover .rose {
  top: 80%;
}
.images:hover #rose-1 {
  transition: 1.4s;
}
.images:hover #rose-2 {
  transition: 0.8s;
}
.images:hover #rose-3 {
  transition: 1.8s;
}

#rose-1 {
  left: 10%;
}
#rose-2 {
  left: 25%;
  transform: rotateY(180deg);
}
#rose-3 {
  left: 80%;
}
.header {
  background-color: rgb(160, 160, 160);
}

.welcome-header {
  margin: 0 auto;
  padding: 0%;
  text-align: center;
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  box-shadow: none;
}
.welcome-header div {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.welcome-header img {
  padding: 20px;
  margin: 0 auto;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border: none;
}


.images:hover .welcome-header h1 {
  transition: 1.2s;
  color: rgba(33, 33, 33, 0);
}
.images:hover .welcome-header {
  transition: 1.2s;

}

/* .welcome-header:hover {
  transition: 1.5s;
  transform: translateY(-100px);
  opacity: 0;
  box-shadow: none;
} */



.tree {
  background-image: url('../images/tree.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border: none;
  height: 80%;
  width: 80px;
  position: absolute;
  top: 100%;
}

.images:hover .tree {
  transition: 5s;
  top: 35%;
}

#tree {
  left: 50%;
}

/* Header end */

.funky-flower {
  background-image: url('../images/funky-flower.png') !important;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border: none;
  height: 20%;
  width: auto;
  position: absolute;
  top: 100%;
}

.images:hover .funky-flower {
  top: 88%;
}
.images:hover #funky-flower-1 {
  transition: 1.4s;
}
.images:hover #funky-flower-2 {
  transition: 0.8s;
}
.images:hover #funky-flower-3 {
  transition: 1.8s;
}

#funky-flower-1 {
  left: 15%;
  transform: rotateY(180deg);
}
#funky-flower-2 {
  left: 40%;
}
#funky-flower-3 {
  left: 86%;
}

#funky-flower-4 {
  left: 67%;
}

.images:hover #funky-flower-4 {
  transition: 2s;
  transform: rotateY(180deg);

}
.disabled {
  pointer-events: none;
}



.sun {
  background-image: url('../images/sunface.jpg') !important;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  border: none;
  height: 10%;
  width: auto;
  position: absolute;
  top: -55%;
  height: 100px;
  width: 100px;
}

#sun {
  left: 5%;
}

.images:hover #sun {
  transition: 4s;
  top:1%;
}
